{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/seed"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/components/view"
  "github.com/kyleu/pftest/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *seed.Seed
  Paths []string
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-seed"><button type="button" title="JSON">{%= components.SVGButton("code", ps) %}</button></a>
      <a href="{%s p.Model.WebPath(p.Paths...) %}/edit" title="Edit"><button>{%= components.SVGButton("edit", ps) %}</button></a>
    </div>
    <h3>{%= components.SVGIcon(`star`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="{%s seed.Route(p.Paths...) %}"><em>Seed</em></a></div>
    {%= DetailTable(p, ps) %}
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("seed", "Seed JSON", p.Model, 1) %}
{% endfunc %}

{% func DetailTable(p *Detail, ps *cutil.PageState) %}
  <div class="mt overflow full-width">
    <table>
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= view.UUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Name</th>
          <td><strong>{%= view.String(p.Model.Name) %}</strong></td>
        </tr>
        <tr>
          <th class="shrink" title="Integer">Size</th>
          <td>{%d p.Model.Size %}</td>
        </tr>
        <tr>
          <th class="shrink" title="JSON object">Obj</th>
          <td>{%= components.JSON(p.Model.Obj) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfunc %}
