<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/util"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/layout"
) %}

{% code type Children struct {
  layout.Basic
  Children []*util.KeyValInt
} %}

{% func (p *Children) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`star`, ps) %} Group Children</h3>
    <div class="mt">
      {%- if len(p.Children) == 0 -%}
      <em>No children available</em>
      {%- else -%}
      <table>
        <thead>
          <tr>
            <th>Child</th>
            <th>Group Count</th>
          </tr>
        </thead>
        <tbody>
          {%- for _, x := range p.Children -%}
          <tr>
            <td><a href="/group/child/{%s x.Key %}">{%s x.Key %}</a></td>
            <td>{%d x.Count %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
      {%- endif -%}
    </div>
  </div>
{% endfunc %}
