{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/mixed_case"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *mixed_case.MixedCase
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="{%s p.Model.WebPath() %}/edit"><button>Edit</button></a></div>
    <h3>{%= components.SVGRefIcon(`star`, ps) %} Mixed Case [{%s p.Model.String() %}]</h3>
    <table>
      <tbody>
        <tr>
          <th class="shrink" title="String text">ID</th>
          <td>{%s p.Model.ID %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Test Field</th>
          <td>{%s p.Model.TestField %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Another Field</th>
          <td>{%s p.Model.AnotherField %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
{% endfunc %}
