{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/lib/filter"
  "github.com/kyleu/pftest/app/softdel"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Models softdel.Softdels
  Params filter.ParamSet
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/softdel/new"><button>New</button></a></div>
    <h3>{%= components.SVGRefIcon(`star`, ps) %} Softdels</h3>
    <div class="mt">
      {%- if len(p.Models) == 0 -%}
      <em>No softdels available</em>
      {%- else -%}
      {%= Table(p.Models, p.Params, as, ps) %}
      {%- endif -%}
    </div>
  </div>
{% endfunc %}
