<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/lib/filter"
  "github.com/kyleu/pftest/app/softdel"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/components/view"
) %}

{% func Table(models softdel.Softdels, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Get("softdel", nil, ps.Logger).Sanitize("softdel") -%}
  <table>
    <thead>
      <tr>
        {%= components.TableHeaderSimple("softdel", "id", "ID", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("softdel", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("softdel", "updated", "Updated", "Date and time, in almost any format (optional)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("softdel", "deleted", "Deleted", "Date and time, in almost any format (optional)", prms, ps.URI, ps) %}
      </tr>
    </thead>
    <tbody>
      {%- for _, model := range models -%}
      <tr>
        <td><a href="/softdel/{%u model.ID %}">{%= view.String(model.ID) %}</a></td>
        <td>{%= view.Timestamp(&model.Created) %}</td>
        <td>{%= view.Timestamp(model.Updated) %}</td>
        <td>{%= view.Timestamp(model.Deleted) %}</td>
      </tr>
      {%- endfor -%}
      {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
      <tr>
        <td colspan="4">{%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}</td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}
