{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/timestamp"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/components/view"
  "github.com/kyleu/pftest/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *timestamp.Timestamp
  Paths []string
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-timestamp"><button type="button">{%= components.SVGButton("file", ps) %} JSON</button></a>
      <a href="{%s p.Model.WebPath(p.Paths...) %}/edit"><button>{%= components.SVGButton("edit", ps) %} Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(`star`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="{%s timestamp.Route(p.Paths...) %}"><em>Timestamp</em></a></div>
    <div class="mt overflow full-width">
      <table>
        <tbody>
          <tr>
            <th class="shrink" title="String text">ID</th>
            <td>{%= view.String(p.Model.ID) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format">Created</th>
            <td>{%= view.Timestamp(&p.Model.Created) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
            <td>{%= view.Timestamp(p.Model.Updated) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format (optional)">Deleted</th>
            <td>{%= view.Timestamp(p.Model.Deleted) %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("timestamp", "Timestamp JSON", p.Model, 1) %}
{% endfunc %}
