<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/basic"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/lib/filter"
  "github.com/kyleu/pftest/app/relation"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/components/view"
) %}

{% func Table(models relation.Relations, basicsByBasicID basic.Basics, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Sanitized("relation", ps.Logger) -%}
  <div class="overflow clear">
    <table>
      <thead>
        <tr>
          {%= components.TableHeaderSimple("relation", "id", "ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("relation", "basic_id", "Basic ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("relation", "name", "Name", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("relation", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
        </tr>
      </thead>
      <tbody>
        {%- for _, model := range models -%}
        <tr>
          <td><a href="/relation/{%= view.UUID(&model.ID) %}">{%= view.UUID(&model.ID) %}</a></td>
          <td class="nowrap">
            {%= view.UUID(&model.BasicID) %}{% if x := basicsByBasicID.Get(model.BasicID); x != nil %} ({%s x.TitleString() %}){% endif %}
            <a title="Basic" href="{%s `/basic`+`/`+model.BasicID.String() %}">{%= components.SVGSimple("star", 18, ps) %}</a>
          </td>
          <td><strong>{%= view.String(model.Name) %}</strong></td>
          <td>{%= view.Timestamp(&model.Created) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
  <hr />
  {%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}
  <div class="clear"></div>
  {%- endif -%}
{% endfunc %}
