{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/util"
  "github.com/kyleu/pftest/app/version"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/layout"
) %}

{% code type Edit struct {
  layout.Basic
  Model *version.Version
  IsNew bool
} %}

{% func (p *Edit) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- if p.IsNew -%}
    <h3>{%= components.SVGRefIcon(`star`, ps) %} New Version</h3>
    {%- else -%}
    <div class="right"><a href="{%s p.Model.WebPath() %}/delete" onclick="return confirm('Are you sure you wish to delete Version [{%s p.Model.String() %}]?')"><button>Delete</button></a></div>
    <h3>{%= components.SVGRefIcon(`star`, ps) %} Edit Version [{%s p.Model.String() %}]</h3>
    {%- endif -%}
    <form action="" class="mt" method="post">
      <table>
        <tbody>
          {% if p.IsNew %}{%= components.TableInput("id", "ID", p.Model.ID, 5, "String text") %}{% endif %}
          {%= components.TableInputNumber("revision", "Revision", p.Model.Revision, 5, "Integer") %}
          {%= components.TableInput("const", "Const", p.Model.Const, 5, "String text") %}
          {%= components.TableTextarea("var", "Var", 8, util.ToJSON(p.Model.Var), 5, "JSON object") %}
          {%= components.TableInputTimestamp("deleted", "Deleted", p.Model.Deleted, 5, "Date and time, in almost any format (optional)") %}
          <tr><td colspan="2"><button type="submit">Save Changes</button></td></tr>
        </tbody>
      </table>
    </form>
  </div>
{% endfunc %}
