<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/basic"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/lib/filter"
  "github.com/kyleu/pftest/app/relation"
  "github.com/kyleu/pftest/app/util"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/layout"
  "github.com/kyleu/pftest/views/vrelation"
) %}

{% code type Detail struct {
  layout.Basic
  Model *basic.Basic
  Params filter.ParamSet
  RelRelationsByBasicID relation.Relations
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-basic"><button type="button">JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`star`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/basic"><em>Basic</em></a></div>
    <table class="mt">
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= components.DisplayUUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Name</th>
          <td><strong>{%s p.Model.Name %}</strong></td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Status</th>
          <td><strong>{%s p.Model.Status %}</strong></td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= components.DisplayTimestamp(&p.Model.Created) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  <div class="card">
    <h3 class="mb">Relations</h3>
    <ul class="accordion">
      <li>
        <input id="accordion-RelationsByBasicID" type="checkbox" hidden />
        <label for="accordion-RelationsByBasicID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`star`, ps) %}
          {%s util.StringPlural(len(p.RelRelationsByBasicID), "Relation") %} by [RelationsByBasicID]%!!(MISSING)(EXTRA string=basic_id)
        </label>
        <div class="bd">
          {%- if len(p.RelRelationsByBasicID) == 0 -%}
          <em>no related Relations</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vrelation.Table(p.RelRelationsByBasicID, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
    </ul>
  </div>
  {%= components.JSONModal("basic", "Basic JSON", p.Model, 1) %}
{% endfunc %}
