<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/lib/filter"
  "github.com/kyleu/pftest/app/mixedcase"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Models mixedcase.MixedCases
  Params filter.ParamSet
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right mrs large-buttons">
      {%- if len(p.Models) > 0 -%}<a href="/mixedcase/_random"><button>{%= components.SVGButton("gift", ps) %} Random</button></a>{%- endif -%}
      <a href="/mixedcase/_new"><button>{%= components.SVGButton("plus", ps) %} New</button></a>
    </div>
    <h3>{%= components.SVGIcon(`star`, ps) %} {%s ps.Title %}</h3>
    {%- if len(p.Models) == 0 -%}
    <div class="mt"><em>No mixed cases available</em></div>
    {%- else -%}
    <div class="mt">
      {%= Table(p.Models, p.Params, as, ps) %}
    </div>
    {%- endif -%}
  </div>
{% endfunc %}
