<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/audited"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/lib/audit"
  "github.com/kyleu/pftest/app/lib/filter"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/components/view"
  "github.com/kyleu/pftest/views/layout"
  "github.com/kyleu/pftest/views/vaudit"
) %}

{% code type Detail struct {
  layout.Basic
  Model *audited.Audited
  Params filter.ParamSet
  AuditRecords audit.Records
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-audited"><button type="button">{%= components.SVGRef("file", 15, 15, "icon", ps) %}JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`star`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/audited"><em>Audited</em></a></div>
    <div class="mt overflow full-width">
      <table>
        <tbody>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
            <td>{%= view.UUID(&p.Model.ID) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Name</th>
            <td><strong>{%= view.String(p.Model.Name) %}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%- if len(p.AuditRecords) > 0 -%}
  <div class="card">
    <h3>Audits</h3>
    {%= vaudit.RecordTable(p.AuditRecords, p.Params, as, ps) %}
  </div>
  {%- endif -%}
  {%= components.JSONModal("audited", "Audited JSON", p.Model, 1) %}
{% endfunc %}
