{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/audited"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/lib/filter"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/components/view"
) %}

{% func Table(models audited.Auditeds, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Sanitized("audited", ps.Logger) -%}
  <div class="overflow clear">
    <table>
      <thead>
        <tr>
          {%= components.TableHeaderSimple("audited", "id", "ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("audited", "name", "Name", "String text", prms, ps.URI, ps) %}
        </tr>
      </thead>
      <tbody>
        {%- for _, model := range models -%}
        <tr>
          <td><a href="/audited/{%= view.UUID(&model.ID) %}">{%= view.UUID(&model.ID) %}</a></td>
          <td><strong>{%= view.String(model.Name) %}</strong></td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
  <hr />
  {%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}
  <div class="clear"></div>
  {%- endif -%}
{% endfunc %}
