{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/lib/system"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/layout"
) %}

{% code type SystemStatus struct {
  layout.Basic
  Status *system.Status
} %}

{% func (p *SystemStatus) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`desktop`, ps) %} System Status</h3>
    <div class="mt">{%= components.JSON(p.Status) %}</div>
  </div>
{% endfunc %}
