<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/lib/filter"
  "github.com/kyleu/pftest/app/trouble"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *trouble.Trouble
  Params filter.ParamSet
  Selectcols trouble.Troubles
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-trouble"><button type="button">JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`star`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/troub/le"><em>Trouble</em></a></div>
    <table class="mt">
      <tbody>
        <tr>
          <th class="shrink" title="String text">From</th>
          <td>{%s p.Model.From %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Comma-separated list of values">Where</th>
          <td>{%= components.DisplayStringArray(p.Model.Where) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Integer">Selectcol</th>
          <td>{%d p.Model.Selectcol %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Limit</th>
          <td>{%s p.Model.Limit %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Group</th>
          <td>{%s p.Model.Group %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format (optional)">Delete</th>
          <td>{%= components.DisplayTimestamp(p.Model.Delete) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- if len(p.Selectcols) > 1 -%}
  <div class="card">
    <h3>Selectcols</h3>
    {%- code prms := p.Params.Get("trouble", nil, ps.Logger).Sanitize("trouble") -%}
    <table class="mt">
      <thead>
        <tr>
          {%= components.TableHeaderSimple("trouble", "from", "From", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("trouble", "where", "Where", "Comma-separated list of values", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("trouble", "selectcol", "Selectcol", "Integer", prms, ps.URI, ps) %}
        </tr>
      </thead>
      <tbody>
        {%- for _, model := range p.Selectcols -%}
        <tr>
          <td><a href="/troub/le/{%u model.From %}/{%v model.Where %}/selectcol/{%d model.Selectcol %}">{%s model.From %}</a></td>
          <td><a href="/troub/le/{%u model.From %}/{%v model.Where %}/selectcol/{%d model.Selectcol %}">{%= components.DisplayStringArray(model.Where) %}</a></td>
          <td><a href="/troub/le/{%u model.From %}/{%v model.Where %}/selectcol/{%d model.Selectcol %}">{%d model.Selectcol %}</a></td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("trouble", "Trouble JSON", p.Model, 1) %}
{% endfunc %}
