{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/lib/filter"
  "github.com/kyleu/pftest/app/trouble"
  "github.com/kyleu/pftest/views/components"
  "github.com/kyleu/pftest/views/components/view"
) %}

{% func TableRow(model *trouble.Trouble, ps *cutil.PageState, paths ...string) %}
  <tr>
    <td><a href="{%s model.WebPath(paths...) %}">{%= view.String(model.From) %}</a></td>
    <td><a href="{%s model.WebPath(paths...) %}">{%= view.StringArray(model.Where) %}</a></td>
    <td>{%d model.Selectcol %}</td>
    <td>{%= view.String(model.Limit) %}</td>
    <td>{%= view.String(model.Group) %}</td>
    <td>{%= view.Timestamp(model.Delete) %}</td>
  </tr>
{% endfunc %}

{% func Table(models trouble.Troubles, params filter.ParamSet, as *app.State, ps *cutil.PageState, paths ...string) %}
  {%- code prms := params.Sanitized("trouble", ps.Logger) -%}
  <div class="overflow clear">
    <table>
      <thead>
        <tr>
          {%= components.TableHeaderSimple("trouble", "from", "From", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("trouble", "where", "Where", "Comma-separated list of values", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("trouble", "selectcol", "Selectcol", "Integer", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("trouble", "limit", "Limit", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("trouble", "group", "Group", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("trouble", "delete", "Delete", "Date and time, in almost any format (optional)", prms, ps.URI, ps) %}
        </tr>
      </thead>
      <tbody>
        {%- for _, model := range models -%}
        {%= TableRow(model, ps, paths...) -%}
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
  <hr />
  {%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}
  <div class="clear"></div>
  {%- endif -%}
{% endfunc %}
