<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/pftest/app"
  "github.com/kyleu/pftest/app/controller/cutil"
  "github.com/kyleu/pftest/app/lib/filter"
  "github.com/kyleu/pftest/app/trouble"
  "github.com/kyleu/pftest/views/components"
) %}

{% func Table(models trouble.Troubles, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Get("trouble", nil, ps.Logger).Sanitize("trouble") -%}
  <table class="mt">
    <thead>
      <tr>
        {%= components.TableHeaderSimple("trouble", "from", "From", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("trouble", "where", "Where", "Integer", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("trouble", "selectcol", "Selectcol", "Integer", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("trouble", "limit", "Limit", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("trouble", "group", "Group", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("trouble", "delete", "Delete", "Date and time, in almost any format (optional)", prms, ps.URI, ps) %}
      </tr>
    </thead>
    <tbody>
      {%- for _, model := range models -%}
      <tr>
        <td><a href="/troub/le/{%s model.From %}/{%d model.Where %}">{%s model.From %}</a></td>
        <td><a href="/troub/le/{%s model.From %}/{%d model.Where %}">{%d model.Where %}</a></td>
        <td>{%d model.Selectcol %}</td>
        <td>{%s model.Limit %}</td>
        <td>{%s model.Group %}</td>
        <td>{%= components.DisplayTimestamp(model.Delete) %}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
{% endfunc %}
